/*
Theme Name: elmispase_child
Template:   elmispase
*/



@font-face {
 font-family: IBMPlexSans-MediumItalic;
 src: url(http://gomel-osp.by/wp-content/themes/twentyfifteen/fonts/Lobster-Regular.ttf);
 font-weight: normal;
 }